
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelStyle.cshtml";
}

<h2>Admin Girişi Yap</h2>
@if (Convert.ToBoolean(Session["yonetici"]) == true)
{
    Response.Redirect("~/Musteri/Index");
}
<form action="Login/Login" method="post">

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted">Firma epostasını giriniz.</small>
    </div>
    <div class="form-group">
        <label for="parola">Parola</label>
        <input type="password" class="form-control" id="parola" name="parola" placeholder="Parola">
    </div>

    <button type="submit" class="btn btn-primary">Giriş Yap</button>

</form>