
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ISS Controller Web Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
    <link href="~/Content/stil.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ISS Panel</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Anasayfa</a></li>

                @if (Session["yonetici"] == null)
                {
                    <li><a href="/Admin/Login/">Yönetici Girişi Yap</a></li>
                }
                @if (Convert.ToBoolean(Session["yonetici"]) == true)
                {
                    <li><a href="/Paket/Index/">Paketler</a></li>
                    <li><a href="/Musteri/Index/">Müşteriler</a></li>
                    <li><a href="/Admin/Login/Logout">Çıkış</a></li>
                }
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>



</body>
</html>
