
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelStyle.cshtml";
}

<h2>Paketler</h2>
<a class="btn btn-success btn-sm" href="/Paket/Ekle">Yeni Paket Ekle</a>
<div class="accordion" id="accordionExample">

    @foreach (var paket in ViewBag.paketler)
    {
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed akordion-paket" type="button" data-toggle="collapse" data-target="#paket_@paket.paketId" aria-expanded="false" aria-controls="paket@paket.paketId">
                        @paket.paketAd <span>@paket.paketFiyat</span>  <a class="btn btn-sm btn-danger" href="/Paket/Sil/@paket.paketId">Sil</a><a class="btn btn-sm btn-default" href="/Paket/Guncelle/@paket.paketId">Güncelle</a>
                    </button>
                </h2>
            </div>
            <div id="paket_@paket.paketId" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Raw(paket.paketAciklamasi)    
                </div>
            </div>
        </div>
    
    }


</div>



