
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelStyle.cshtml";
    int sayac = 0;
}

<h2>Paketler</h2>

<div class="accordion" id="accordionExample">

    @foreach (var item in ViewBag.paketler)
    {
        ++sayac; 
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#paket_@sayac" aria-expanded="false" aria-controls="paket@sayac">
                        @item.paketAd
                    </button>
                </h2>
            </div>
            <div id="paket_@sayac" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                        @item.paketAciklamasi
                </div>
            </div>
        </div>
        
    }


</div>



