
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelStyle.cshtml";
}

    <div class="jumbotron">
        <h1 class="display-4">ISS Control!</h1>
        <p class="lead">Bu web sitesi, ISS Control projesinin web panelidir.</p>
        <hr class="my-4">
        <p>Panele giriş yaparak, müşteri ekleyebilir, paket ekleyebilir ve müşterilere paket atayabilirsiniz..</p>
    </div>